canvas
{
   display: block;
   width: 2000px;
   height: 1200px;
   touch-action: none;
}

.htmlScreen iframe
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}